body{
	margin: 0;
	padding: 130px;
}
.container{
	text-align: right;
	margin-top: -120px;
}
.btn{
	border:transparent;
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	font-family: ""acromregular"";
	cursor: pointer;
	margin: 10px;
	transition: 1.0s;
	position: relative;
	overflow: hidden;
}
.btn1,.btn2,.btn3,.btn4,.btn5{
	color: #3498db;
}
.btn1:hover,.btn2:hover,.btn3:hover,.btn4:hover,.btn5:hover{
	color: #fff;
}
.btn::before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: #3498db;
	z-index: -1;
	transition: 1.0s;
}
.btn1::before,.btn2::before,.btn3::before,.btn4::before,.btn5::before{
	top: 0;
	border-radius: 0 0 50% 50%;
}
	.btn1:hover::before,.btn2:hover::before,.btn3:hover::before,.btn4:hover::before,.btn5:hover::before{
		height: 180%;
}





















